//-----------------fonts------------------


@import url('https://fonts.cdnfonts.com/css/roboto')


//-----------------commons------------------
    
    
$accent: rgb(63, 55, 175)


//-----------------commons------------------
    

html
    block-sizing: border-box


*, *::after, *::before
    box-sizing: inherit
    padding: 0
    margin: 0


body
    background-color: rgba(189, 189, 189, 0.418)
    font-family: 'Roboto', sans-serif
    overflow-x: hidden

.error
    border: 5px solid rgb(134, 31, 28)


.hidden
    display: none !important

.content
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 100px


//-----------------form------------------


.form
    display: flex
    justify-content: center
    flex-direction: column
    padding: 50px
    *
        margin-bottom: 15px

    .input
        min-width: 380px
        padding: 10px

    .btn
        padding: 8px


//-----------------comments------------------

.comment
    background-color: $accent
    padding: 40px 20px
    margin: 10px 0
    width: 400px

    &__date
        display: flex
        justify-content: flex-end

    &__author
        padding-bottom: 20px

    &__delete-btn, &__like-btn
        background-color: $accent
        border: 0px
        cursor: pointer
        img
            width: 30px
            height: 30px
